#footer{
    background: var(--bg-secondary);
    border-radius: 50px 50px 0 0 ;
    box-shadow: var(--border-shadow);
    position: relative;
    overflow: hidden;
    
   
}

#footer .spotlight{
    bottom: -50px;
    left: -50px;
    height: 120px;
}
#footer .container{
    padding-bottom: 20px;
}
#footer .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#footer .col-2{
    grid-column: span 2;
}
#footer .description{
    margin: 20px 0;
    
}
#footer .group__name{
    font-size: 16px;
    margin-bottom: 15px;
}
#footer .route__item{
    display: block;
    color: var(--color-muted);
    transition: var(--transition);
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
}

#footer .route__item:hover{
    color: var(--color-primary);
}
#footer .copyright{
    margin-top: 80px;
    text-align: center;
}
#footer .copyright h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom:20px ;
    color: var(--color-primary);
}

@media (max-width:900px){
    #footer .grid{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 40px;
    }
    #footer .col-2{
        grid-column: span 1;
    }
}
@media (max-width:600px){
    #footer .grid{
        grid-template-columns: 100%;
    }
}