#about .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
#about .col-2{
    grid-column: span 2;
    
}


#about .box{
    background: var(--bg-secondary);
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}
#about .spotlight{
    width: 100px;
    right: 0;
}
#about .cluster{
    padding: 20px;
    position: relative;
    z-index: 2;
    gap: 20px;
}
#about .user{
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background: rgba(var(--bg-base-rgb), 0.8);
    padding: 10px;
    border-radius: var(--radius-3);
}
#about .description{
    margin: 10px 0;
}
#about .my__drive{
    flex: 1;
    padding: 20px;
    border-radius: var(--radius-3);
    background: rgba(var(--bg-secondary-rgb), 0.5);
    box-shadow: var(--border-shadow);
}
#about .kit{
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 1;
}
#about .kit .grid__box{
    left: 0;
}

#about .kit .card__ui{
    width: 200px;
    height: 200px;
    right: 10px;
    bottom: -20px;
}

#about .stacks__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-shadow: var(--border-shadow);
    padding-top: 20px;
    padding-bottom: 20px;
}
#about .stack{
    background: rgba(var(--bg-secondary-rgb), 0.8);
    box-shadow: var(--border-shadow);
}

#about .last__box{
    background-image: url("../../assets/bg1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}
#about .last__box .btn__wrapper{
    margin-top: 30px;
}
#about .last__box .btn{
    background: #222;
    color: var(--color-white);
    text-align: center;
    border-radius: 0;
    border: solid 1px transparent;
    border-image: linear-gradient(
        45deg, 
        var(--color-primary-accent),
        var(--color-primary-accent),
        var(--color-primary),
        #f0cb35
        )
        1;
}

/* Responsiveness */
@media only screen and (max-width:900px){
    #about .self__start{
        align-self: flex-start;

    }
    #about .row{
        flex-direction: column;
    }

}
@media only screen and (max-width:768px){
    #about .grid{
        grid-template-columns: 100%;
    }
    #about .col-2{
        grid-column: span 1;
    }
    
}
@media only screen and (max-width:550px){
    #about .stacks__container{
        grid-template-columns: repeat(2, 1fr);
    }
    #about .stacks__container .btn{
        gap: 5px;
        padding: 5px 10px;
        font-size: 14px;
    }
}