#navbar{
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: fit-content;
    background: rgba(var(--bg-secondary-rgb),0.5);
    padding: 0.6rem 1rem;
    border-radius: var(--radius-2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: var(--gray-border);
    z-index: 10;
}
#navbar.drop{
    position: fixed;
    animation: drop 1s;
}
@keyframes drop {
    0%{
        top: -100%;
    }
    100%{
        top: 20px;
    }
}

#navbar .nav__routes{
    align-items: center;
    gap: 30px;
}
#navbar .route{
    font-size: 16px;
    font-weight: 700;
    display: block;
    cursor: pointer;
    transition: var(--transition);

}
#navbar .route.active{
    color: var(--color-primary);
}
#navbar .menu__btn{
    display: none;
}

/* Responsiveness */
@media (max-width:700px){
    #navbar{
        max-width: 100%;
        width: 90%;
    }
    #navbar .nav__routes{
        display: none;
    }
    #navbar .menu__btn{
        display: flex;
    }
}