.theme__toggle{
    display: flex;
    align-items: center;
}
.theme__toggle input{
    position: absolute;
    top: -999px;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}
.theme__toggle .sun,
.theme__toggle .moon{
    transform: scale(0);
    transition: var(--transition);
    color: var(--text-color);
}
.theme__toggle input:not(:checked) ~ .icon__container .sun{
    transform: scale(1);
}
.theme__toggle input:checked ~ .icon__container .moon{
    transform: scale(1);
}